<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Markdown</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>md</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MDX</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>computer.srcery.grimoire.mdx</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mdx</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>computer.srcery.grimoire.mdx</string>
			<key>UTTypeDescription</key>
			<string>MDX</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mdx</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://xchrisbailey.github.io/grimoire.srcery/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>vA1SejRQ2Zz/hTsTny/5hzOony9nB5OET1l5a+yT8So=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
